# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Build output
/dist/
/.vite/

# Testing
/coverage/

# Env files (never commit secrets)
.env
.env.*.local

# Editor / OS
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Misc
*.local
*.cache/

.vercel
